<div class="ks-page-header">
  <section class="ks-title">
    <h3>Sohbetlerim</h3>
  </section>
</div>
<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="container-fluid">
      <div *ngFor="let message of this.chat.currentMessageList">
        {{message.messageContent || "yok bu boş bu"}}
      </div>
      <div class="form-group">
        <textarea type="text" class="form-control" [(ngModel)]="currentMessageContent">
        </textarea>
      </div>
      <button type="button" (click)="sendMessage(35)">Göndert</button>
    </div>
  </div>
</div>