<div class="ks-page-header">
  <section class="ks-title">
    <h3>Sohbet</h3>
    <button class="btn btn-outline-primary ks-light ks-messenger-info-block-toggle"
      data-block-toggle=".ks-messenger__info">Info</button>
  </section>
</div>
<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-messenger">
      <div class="ks-discussions">
        <div class="ks-search">
          <div class="input-icon icon-right icon icon-lg icon-color-primary">
            <input id="input-group-icon-text" (keydown)="filterGroup($event)" type="text" class="form-control" placeholder="Ara...">
            <span class="icon-addon">
              <span class="la la-search"></span>
            </span>
          </div>
        </div>
        <div class="ks-body ks-scrollable" [ngClass]="{'sm-loading':this.groupLoading}" data-auto-height>
          <ul class="ks-items">
            <li class="ks-item" [routerLink]="['/sohbet',group.id]" routerLinkActive="ks-active"
              *ngFor="let group of this.filteredGroupList">
              <a>
                <span class="ks-group-amount">1</span>
                <div class="ks-body">
                  <div class="ks-name">
                    {{group.groupName}}
                    <span class="ks-datetime">just now</span>
                  </div>
                  <div class="ks-message">The weird future of movie theater food</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="ks-messages ks-messenger__messages">
        <div class="ks-header">
          <div class="ks-description">
            <div class="ks-name">{{currentGroupTitle}}</div>
            <div class="ks-amount">{{currentMemberCount}}</div>
          </div>
          <div class="ks-controls">
            <div class="dropdown">
              <button class="btn btn-outline-primary ks-light ks-no-text ks-no-arrow" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="la la-ellipsis-h ks-icon"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right ks-simple" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">
                  <span class="la la-user-plus ks-icon"></span>
                  <span class="ks-text">Add members</span>
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-eye-slash ks-icon"></span>
                  <span class="ks-text">Mark as unread</span>
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-bell-slash-o ks-icon"></span>
                  <span class="ks-text">Mute notifications</span>
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-mail-forward ks-icon"></span>
                  <span class="ks-text">Forward</span>
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-ban ks-icon"></span>
                  <span class="ks-text">Spam</span>
                </a>
                <a class="dropdown-item" href="#">
                  <span class="la la-trash-o ks-icon"></span>
                  <span class="ks-text">Delete</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="ks-body ks-scrollable" data-auto-height
          data-reduce-height=".ks-footer" data-fix-height="32">
          <ul class="ks-items" 
          [ngClass]="{'sm-loading':this.messageLoading,'sm-chat-main':this.intro}">
            <li class="ks-item" [ngClass]="{'ks-from':message.userId==1,'ks-self':message.userId!=1}"
              *ngFor="let message of this.chat.currentMessageList">
              <span class="ks-avatar" [ngClass]="{'ks-online':(message.lastLoginDate - message.lastLogoutDate),'ks-offline':!(message.lastLoginDate - message.lastLogoutDate)}">
                <img src="assets/img/avatars/ava-4.png" width="36" height="36" class="rounded-circle">
              </span>
              <div class="ks-body">
                <div class="ks-header">
                  <a class="ks-name" [routerLink]="['/profil',message.user.id]">
                    {{message.user.name}} {{message.user.surname}}
                  </a>
                  <span class="ks-datetime">{{message.creationDate | moment}}</span>
                </div>
                <div class="ks-message" [innerHTML]="message.messageContent"></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="ks-footer">
          <textarea class="form-control" placeholder="Birşeyler yaz..." [(ngModel)]="currentMessageContent"
            (keydown)="sendMessageWithEnter($event)"></textarea>
          <div class="ks-controls">
            <button class="btn btn-primary" (click)="sendMessage()">Gönder</button>
            <a href="#" class="la la-paperclip ks-attachment"></a>
            <div class="dropdown dropup">
              <button class="btn btn-link ks-smile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="la la-smile-o"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right ks-scrollable ks-smileys"
                aria-labelledby="dropdownMenuButton">
                <div class="ks-smileys-wrapper">
                  <table>
                    <tr>
                      <td>
                        <img src="assets/img/smiley/angel.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/angry-2.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/angry-3.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/baby-1.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/confused-3.png" width="20" height="20">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src="assets/img/smiley/creepy.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/crying-3.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/dazed-2.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/dead-4.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/desperate-1.png" width="20" height="20">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src="assets/img/smiley/doctor.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/dumb.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/gentleman-3.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/gentleman-4.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/goofy-1.png" width="20" height="20">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src="assets/img/smiley/goofy-4.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/happy-1.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/happy-5.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/happy-6.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/happy-7.png" width="20" height="20">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src="assets/img/smiley/happy-8.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/happy-9.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/happy-10.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/happy-11.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/hipster-2.png" width="20" height="20">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src="assets/img/smiley/in-love-2.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/in-love-3.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/in-love-4.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/joyful-2.png" width="20" height="20">
                      </td>
                      <td>
                        <img src="assets/img/smiley/kiss-1.png" width="20" height="20">
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ks-info ks-messenger__info">
        <div class="ks-header">
          Sohbettekiler
        </div>
        <div class="ks-body">
          <div class="ks-item ks-user" *ngFor="let user of this.chat.currentGroupParticipants">
            <span class="ks-avatar ks-online">
              <img src="assets/img/avatars/ava-4.png" width="36" height="36" class="rounded-circle">
            </span>
            <div>
              <span class="ks-name">
                {{user.name}} {{user.surname}}
              </span>
              <span class="ks-name">
                {{user.email}}
              </span>
            </div>
          </div>
        </div>
        <div class="ks-footer">
          <div class="ks-item">
            <div class="ks-name">Oluşturulma Zamanı</div>
            <div class="ks-text">
              {{currentGroupCreationDate | moment}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>